<section class="w3l-bottom" id="newsletter">
    <div class="container">
        <div class="subscribe p-sm-5 p-4">
            <div class="row px-lg-0 py-lg-4 p-2">
                <div class="col-lg-5 header-section mx-auto">
                    <h3 class="title-left">Bültene Abone Olun </h3>
                    <p class=""> En son haberlerimizi doğrudan gelen kutunuza alın</p>
                </div>
                <div class="col-lg-7 mt-lg-0 mt-4">
                    <form action="#" method="post" class="subscribe-wthree">
                        <div class="d-md-flex flex-wrap subscribe-wthree-field">
                            <input class="form-control" type="email" placeholder="Mail giriniz'..." name="email"
                                   required="">
                            <button class="btn btn-style btn-primary" type="submit">
                                <span class="fa fa-paper-plane"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>