<div class="col-lg-8 mt-lg-0 mt-md-5 mt-sm-4 mt-2">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 mt-sm-0 mt-4">
            <div class="column">
                <a href="#single"><img src="~/Blog/assets/images/recipe.jpg" alt="" class="img-fluid" /></a>
                <div class="info">
                    <h4><a href="#single">Tarifler</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mt-sm-0 mt-4">
            <div class="column">
                <a href="#single"><img src="~/Blog/assets/images/drinks.jpg" alt="" class="img-fluid" /></a>
                <div class="info">
                    <h4><a href="#single">Soğuk İçecekler</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mt-md-0 mt-4">
            <div class="column">
                <a href="#single"><img src="~/Blog/assets/images/video.jpg" alt="" class="img-fluid" /></a>
                <div class="info">
                    <h4><a href="#single">Nasıl Yapılır?</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>