<!-- home page section -->
<section class="w3l-homeblock1">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="title-align mb-4">
                <h3 class="title-left">How to make dessert</h3>
                <a href="#blog" class="more-posts"> View more Videos <span class="fas fa-arrow-right"></span></a>
            </div>
            <div id="owl-demo1" class="owl-carousel owl-theme mt-4 py-2 mb-md-4 mb-5">
                <div class="item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single">
                                <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/cake1.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe recipe">Reciepe</a>
                            </div>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="#blog-single" class="blog-desc">
                                How to make Chocolate troffee crunch cake
                            </a>
                            <span class="post-date"><span class="fa fa-clock-o"></span> Oct 4, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single">
                                <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/cake2.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe recipe">Reciepe</a>
                            </div>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="#blog-single" class="blog-desc">
                                How to make the Easiest pancakes ever
                            </a>
                            <span class="post-date"><span class="fa fa-clock-o"></span> Oct 5, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single">
                                <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/cake3.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe blue">How to</a>
                            </div>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="#blog-single" class="blog-desc">
                                How to make the choco buttermilk cake
                            </a>
                            <span class="post-date"><span class="fa fa-clock-o"></span> Oct 6, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single">
                                <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/cake4.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe orange">Reciepe</a>
                            </div>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="#blog-single" class="blog-desc">
                                Chocolate truffle cake is you'll ever need
                            </a>
                            <span class="post-date"><span class="fa fa-clock-o"></span> Oct 6, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single">
                                <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/cake5.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe blue">How to</a>
                            </div>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="#blog-single" class="blog-desc">
                                The only 12 curry recipes you’ll Ever Need
                            </a>
                            <span class="post-date"><span class="fa fa-clock-o"></span> Oct 5, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single">
                                <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/cake6.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe blue">How to</a>
                            </div>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="#blog-single" class="blog-desc">
                                How to cook French Fries like in a Restaurant
                            </a>
                            <span class="post-date"><span class="fa fa-clock-o"></span> Oct 5, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single">
                                <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/cake7.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe recipe">Reciepe</a>
                            </div>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="#blog-single" class="blog-desc">
                                Fruit Salad with Honey and Orange Juice
                            </a>
                            <span class="post-date"><span class="fa fa-clock-o"></span> Oct 5, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single">
                                <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/cake8.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe orange">Reciepe</a>
                            </div>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="#blog-single" class="blog-desc">
                                Now, Make money from blogging in easy steps
                            </a>
                            <span class="post-date"><span class="fa fa-clock-o"></span> Oct 5, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single">
                                <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/1.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe blue">How to</a>
                            </div>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="#blog-single" class="blog-desc">
                                Fruit Salad with Honey and Orange Juice
                            </a>
                            <span class="post-date"><span class="fa fa-clock-o"></span> Oct 5, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single">
                                <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/2.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe orange">Reciepe</a>
                            </div>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="#blog-single" class="blog-desc">
                                Now, Make money from blogging in easy steps
                            </a>
                            <span class="post-date"><span class="fa fa-clock-o"></span> Oct 5, 2020</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //home page section -->