<div class="w3l-searchblock w3l-homeblock1 py-5">
    <div class="container py-lg-4 py-md-3">
        <!-- block -->
        <div class="most-recent">
            <div class="title-align mb-4">
                <h3 class="title-left">20-Dakikalık Yemekler</h3>
                <a href="#blog" class="more-posts"> View more posts <span class="fas fa-arrow-right"></span></a>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single">
                                <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/meal1.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe blue">How to</a>
                            </div>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="#blog-single" class="blog-desc">
                                Hiç İhtiyaç Duymayacağınız Tek 12 Köri Tarifi
                            </a>
                            <span class="post-date"><span class="fa fa-clock-o"></span> Oct 4, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 item mt-md-0 mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single">
                                <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/meal2.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe orange">Reciepe</a>
                            </div>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="#blog-single" class="blog-desc">
                                Restorandaki gibi patates kızartması nasıl pişirilir
                            </a>
                            <span class="post-date"><span class="fa fa-clock-o"></span> Oct 3, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 item mt-lg-0 mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single">
                                <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/meal3.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe blue">How to</a>
                            </div>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="#blog-single" class="blog-desc">
                                Kuzey Hindistan usulü baharatlı erişte
                            </a>
                            <span class="post-date"><span class="fa fa-clock-o"></span> Oct 3, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 item mt-lg-0 mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single">
                                <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/meal4.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe recipe">Reciepe</a>
                            </div>
                        </div>
                        <div class="card-body p-0 blog-details">
                            <a href="#blog-single" class="blog-desc">
                                Sağlıklı, Lezzetli ve Mükemmel Burgerler Yiyin
                            </a>
                            <span class="post-date"><span class="fa fa-clock-o"></span> Oct 7, 2020</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //block-->
    </div>
</div>