<div class="w3l-banner py-5">
    <div class="container py-lg-3 py-md-3">
        <div class="ban-content-inf row py-lg-3">
            <div class="maghny-gd-1 col-lg-8">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius">
                        <img class="img-fluid radius-image" src="~/Blog/assets/images/1.jpg" alt="">
                        <figcaption class="w3set-hny">
                            <div class="info">
                                <a href="#reciepe" class="receipe">Reciepe</a>
                                <h4 class="top-text">Tereyağlı krema ile muhteşem sütlü çikolatalı kekler</h4>
                                <p class="mt-2 d-sm-block d-none">
                                    Lorem ipsum dolor sit amet elit. Vitae nostrum ipsum vero
                                    tempore esse, eaque omnis culpa quo placeat?
                                </p>
                                <div class="p-footer">
                                    <aside class="p-meta-info">
                                        <a href="#img" class="post-img-anchor">
                                            <img src="~/Blog/assets/images/a1.jpg" alt="" class="post-img" />
                                        </a>
                                        <a href="#url">Elizabeth</a>
                                        <span class="meta-info-date">
                                            <span class="fa fa-clock-o"></span> Oct 3, 2020
                                        </span>
                                    </aside>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-4 mt-lg-0 mt-4 mobile-grid">
                <div class="maghny-gd-1">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid radius-image" src="~/Blog/assets/images/2.jpg" alt="" />
                            <figcaption>
                                <div>
                                    <h4 class="top-text1">Muhteşem Sütlü Çikolatalı Kremalı Kek</h4>
                                    <aside class="p-meta-info">
                                        <span class="meta-info-el meta-info-custom">
                                            <span class="fa fa-clock-o mr-2"></span>10 Min Cook
                                        </span>
                                    </aside>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="maghny-gd-1 mt-lg-4">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid radius-image" src="~/Blog/assets/images/3.jpg" alt="" />
                            <figcaption>
                                <div>
                                    <h4 class="top-text1">En İyi Çikolatalı Kurabiye Tarifi</h4>
                                    <aside class="p-meta-info">
                                        <span class="meta-info-el meta-info-custom">
                                            <span class="fa fa-bell-o mr-2"></span>Sponsered by
                                            <strong>Johnson</strong>
                                        </span>
                                    </aside>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>