
@{
    ViewData["Title"] = "AboutList";
    Layout = "~/Views/BlogLayout/Index.cshtml";
}

<!-- about breadcrumb -->
<div class="w3l-about-breadcrumb w3l-search-results py-5 text-center">
    <div class="container py-lg-4 py-md-3">
        <ul class="breadcrumbs-custom-path mb-sm-3 mb-2 text-center">
            <li><a href="index.html">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About page </li>
        </ul>
        <h3 class="title-big">About Us</h3>
    </div>
</div>
<!-- about breadcrumb -->
<section class="w3l-blog-single1 py-5">
    <div class="container py-lg-3">

        <div class="text2">
            <p class="text2-text mb-4">
                <span>We</span> want to provide you with a great experience which is why we want
                to hear from
                you. Your feedback helps us bring you more of the events you love and the service you expect. we always
                appreciate a good nail art tutorial—and this one by polish professional Madeline Poole does not
                disappoint! Her instructions are clear and the results are clean and creative. Not to mention, this
                fabulous manicure is the perfect accessory to show off this weekend!
            </p>
        </div>
        <div class="text-bg-image">
            <img src="assets/images/about.jpg" alt="" class="img-fluid radius-image">
        </div>
        <div class="text-content-text">
            <div class="d-grid-2">
                <div class="text2 mt-4">
                    <h3 class="title-left">Who We Are and What We Stand for</h3>
                    <p class="mt-3">
                        It is a long established fact that a reader will be distracted by the
                        readable
                        content of a page when looking at its
                        layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                        letters, as
                        opposed to using 'Content here,
                        content here', making it look like readable English. Lorem ipsum dolor sit amet consectetur,
                        adipisicing
                        elit. Repellat, hic
                        reprehenderit
                        eum cupiditate deleniti asperiores illum ad tenetur aliquam culpa fugit odit consequatur. Rerum
                        illo
                        accusantium aliquid quae adipisci fugiat sapiente delectus unde architecto. Tempore saepe maxime
                        illo
                        laborum obcaecati.
                    </p>
                    <div class="single-post-content-1 row mt-4 no-gutters">
                        <div class="col-md-5">
                            <img src="assets/images/about1.jpg" class="img-fluid radius-image" alt="image">
                        </div>
                        <div class="col-md-7 align-self">
                            <p class="mt-md-0 mt-4 ml-md-4 ml-0">
                                Lorem ipsum dolor sit amet elit. Dolorum
                                perspiciatis repellendus velit nam fuga asperiores nemo commodi enim corrupti
                                tenetur placeat veritatis, dolores laborum illo, ducimus aut quo amet ratione magni
                                nesciunt? Fuga expedita earum veritatis optio dolorum deserunt eos. Non in simique
                                quibusdam nihil qui,, debitis ipsa aperiam dicta unde hic.
                            </p>
                        </div>
                    </div>
                    <h3 class="title-left mt-sm-5 mt-4">Why choose us</h3>
                    <p class="text2-text2 mt-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae
                        ullam
                        expedita. Ut explicabo minima fugit ipsum sapiente fuga et facere est autem iste ducimus totam
                        accusamus
                        quasi distinctio, excepturi voluptatum harum porro nostrum nemo iusto culpa expedita cupiditate
                        omnis.
                        Animi iusto officiis at voluptates vel laboriosam eum error voluptas. Lorem ipsum dolor sit amet
                        consectetur adipisicing elit.
                    </p>
                    <div class="social-media mt-4 text-center">
                        <ul class="d-flex">
                            <li class="">
                                <a href="#">
                                    <span class="fab fa-facebook-f"
                                          aria-hidden="true"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <span class="fab fa-twitter"
                                          aria-hidden="true"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <span class="fas fa-rss"
                                          aria-hidden="true"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <span class="fab fa-linkedin-in"
                                          aria-hidden="true"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <span class="fab fa-google-plus"
                                          aria-hidden="true"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


