<div class="row">
    <div class="col-lg-8 most-recent pr-lg-4">
        <h3 class="title-left mb-3">Latest Recipes</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 item">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#blog-single">
                            <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/4.jpg"
                                 alt="Card image cap">
                        </a>
                        <div class="post-pos">
                            <a href="#reciepe" class="receipe green">Reciepe</a>
                            <span class="meta-info meta-info-custom">
                                <span class="fa fa-clock-o mr-2"></span>10 Min Cook
                            </span>
                        </div>
                    </div>
                    <div class="card-body p-0 blog-details">
                        <a href="#blog-single" class="blog-desc">
                            Bu Hafta Sonu Pişirilecek En İyi Kurabiye Tarifleri
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet ipsum adipisicing elit. Qui eligendi
                            vitae sit.
                        </p>
                        <div class="p-footer mt-3">
                            <div class="p-meta-info">
                                <a href="#img" class="post-img-anchor">
                                    <img src="~/Blog/assets/images/a1.jpg" alt=""
                                         class="post-img radius-img img-fluid" />
                                </a>
                                <a href="#url">Elizabeth</a>
                            </div>
                            <a href="#read" class="read">Read more <span class="fas fa-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 item mt-md-0 mt-5">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#blog-single">
                            <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/5.jpg"
                                 alt="Card image cap">
                        </a>
                        <div class="post-pos">
                            <a href="#reciepe" class="receipe orange">How to</a>
                            <span class="meta-info meta-info-custom">
                                <span class="fa fa-clock-o mr-2"></span>10 Min Cook
                            </span>
                        </div>
                    </div>
                    <div class="card-body p-0 blog-details">
                        <a href="#blog-single" class="blog-desc">
                            Çilek Suyu Vinegretli Karışık Yeşillikler Tarifi
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet ipsum adipisicing elit. Qui eligendi
                            vitae sit.
                        </p>
                        <div class="p-footer mt-3">
                            <div class="p-meta-info">
                                <a href="#img" class="post-img-anchor">
                                    <img src="~/Blog/assets/images/a2.jpg" alt=""
                                         class="post-img radius-img img-fluid" />
                                </a>
                                <a href="#url">William</a>
                            </div>
                            <a href="#read" class="read">Read more <span class="fas fa-arrow-right"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 item mt-5 pt-lg-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#blog-single">
                            <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/6.jpg"
                                 alt="Card image cap">
                        </a>
                        <div class="post-pos">
                            <a href="#reciepe" class="receipe orange">How to</a>
                            <span class="meta-info meta-info-custom">
                                <span class="fa fa-clock-o mr-2"></span>10 Min Cook
                            </span>
                        </div>
                    </div>
                    <div class="card-body p-0 blog-details">
                        <a href="#blog-single" class="blog-desc">
                            Bal ve Portakal, çilek, böğürtlenli Meyve Salatası
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit. Qui eligendi
                            vitae sit.
                        </p>
                        <div class="p-footer mt-3">
                            <div class="p-meta-info">
                                <a href="#img" class="post-img-anchor">
                                    <img src="~/Blog/assets/images/a3.jpg" alt=""
                                         class="post-img radius-img img-fluid" />
                                </a>
                                <a href="#url">Alexander</a>
                            </div>
                            <a href="#read" class="read">Read more <span class="fas fa-arrow-right"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 item mt-5 pt-lg-3">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#blog-single">
                            <img class="card-img-bottom d-block radius-image" src="~/Blog/assets/images/7.jpg"
                                 alt="Card image cap">
                        </a>
                        <div class="post-pos">
                            <a href="#reciepe" class="receipe blue">Drinks</a>
                            <span class="meta-info meta-info-custom">
                                <span class="fa fa-clock-o mr-2"></span>10 Min Cook
                            </span>
                        </div>
                    </div>
                    <div class="card-body p-0 blog-details">
                        <a href="#blog-single" class="blog-desc">
                            Starbucks Blonde Caffè: Sütlü İyi Bir Espresso
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit. Qui eligendi
                            vitae sit.
                        </p>
                        <div class="p-footer mt-3">
                            <div class="p-meta-info">
                                <a href="#img" class="post-img-anchor">
                                    <img src="~/Blog/assets/images/a4.jpg" alt=""
                                         class="post-img radius-img img-fluid" />
                                </a>
                                <a href="#url">Johnson</a>
                            </div>
                            <a href="#read" class="read">Read more <span class="fas fa-arrow-right"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("_TweetsLayoutComponentPartial")

</div>